<app-layout>
  <div class="content">
    <div class="container">

      <div class="buy">
        <h1> Linage </h1>
        <p> The best DNA kit with the most comprehensive
          ancestry breakdown and 30+ trait reports.
        </p>
        <ul>
          <li>
            80+ personalized reports
          </li>
          <li>
            Ancestry percentages (to the 0.1%)
          </li>
          <li>
            2000+ geographic regions
          </li>
          <li>
            Health upgrade available
          </li>
        </ul>
        <button type="button" class="btn btn-success" (click)="navigate('/cart')"> Go to cart </button>
        <h3> 129 €</h3>
      </div>

      <div class="influence">

        <h1>Dig deeper into your pet ancestry. </h1>

        <p>
          It's the most complete genetic breakdown on the market,
          and the most comprehensive portrait of your pet.
          Discover where in the world the DNA of your pet
          is from across 2000+ regions.</p>


        <h1>Trace your pet path back thousands of years.</h1>

        <p>
          Travel back in time to gain a clearer picture
          of where you came from, where your ancestors
          lived and when they lived there..</p>


        <h1>More insights into what makes your pet unique.</h1>

        <p>
          Genes are a lot like us: endlessly diverse,
          endlessly interesting, occasionally weird.
          Find out what makes your pet unique, in 30+ personalized reports</p>

      </div>
    </div>

  </div>

</app-layout>
