<app-layout>
  <div class="content mother">

    <div class="row">
      <table cellspacing="0" cellpadding="0" class="table table-striped">
        <thead>
          <tr class="column">
            <th scope="col">
              <h4> Comments </h4>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let com of comments">
          <tr>
            <td id="cart"> {{ com.comment }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div [hidden]="user === null">
      <div class="card-body">
        <div class="">
          <h5 class="title">Add Comment</h5>
        </div>
        <form [formGroup]="commentForm">

          <label>Comment </label>
          <div class="row ">
            <div>
              <div class="form-group">
                <textarea class="form-control {{
                                    this.commentForm.get('comment')?.errors
                                      ? 'is-invalid'
                                      : ''
                                  }}" formControlName="comment" id="comment"></textarea>
              </div>
            </div>
          </div>
          <div>
            <button [disabled]="user === null || !isValid" class="btn btn-fill btn-success" (click)="onSubmitComment()">
              Add comment
            </button>
          </div>
        </form>
      </div>
    </div>


    <div class="cent" [hidden]="user !== null">
      <h3>To add a comment please log in or register</h3>
      <div class="bot-cent">
        <button class="btn  btn-fill btn-success" [hidden]="user != null" (click)="navigate('/login')">Log-in</button>
        <button class="btn  btn-fill btn-success" [hidden]="user != null" (click)="navigate('/register')">
          Register</button>
      </div>
    </div>
  </div>

</app-layout>
