<app-layout>
  <div class="content">
    <div class="column intro">
      <h2 class="column">Three easy ways to discover your best friend. </h2>
      <h4> Choose what's right for you. </h4>
    </div>

    <table cellspacing="0" cellpadding="0" class="table table-striped">
      <thead>
        <tr class="column">
          <th scope="col">
            <h3> FEATURES </h3>
          </th>
          <th scope="col">
            <div>
              <h3> Linage</h3>
            </div>
            <div class="btn-top">
              <button type="button" class="btn btn-success" (click)="navigate('/cart')"> Go to cart </button>
            </div>
          </th>
          <th class="column" scope="col">
            <div>
              <h3> Health</h3>
            </div>
            <div class="btn-top">
              <button type="button" class="btn btn-success" (click)="navigate('/cart')"> Go to cart </button>
            </div>
          </th>
          <th class="column" scope="col">
            <div>
              <h3> Pawprints</h3>
            </div>
            <div class="btn-top">
              <button type="button" class="btn btn-success" (click)="navigate('/cart')"> Go to cart </button>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="column">
        <tr>
          <th scope="row">
            <h4> Ancestry Reports </h4>
            <p> 50+ reports including: Ancestry Composition ,
              Ancestry Detail Reports , Maternal & Paternal Haplogroups</p>
          </th>
          <td><a class="tim-icons icon-check-2"></a> </td>
          <td><a class="tim-icons icon-check-2"></a> </td>
          <td><a class="tim-icons icon-check-2"></a> </td>
        </tr>
        <tr>
          <th scope="row">
            <h4> Automatic Family Tree Builder
            </h4>
            <p> Start a family tree automatically based on your pet DNA.</p>
          </th>
          <td><a class="tim-icons icon-check-2"></a> </td>
          <td><a class="tim-icons icon-check-2"></a> </td>
          <td><a class="tim-icons icon-check-2"></a> </td>
        </tr>
        <tr>
          <th scope="row">
            <h4> Health Predisposition Reports*
            </h4>
            <p> 10+ reports including: BRCA1/BRCA2 (Selected Variants),
              Late-Onset Alzheimer's Disease, Type 2 Diabetes </p>
          </th>
          <td></td>
          <td><a class="tim-icons icon-check-2"></a> </td>
          <td><a class="tim-icons icon-check-2"></a> </td>
        </tr>
        <tr>
          <th scope="row">
            <h4> Carrier Status Reports*
            </h4>
            <p> 40+ reports including: Cystic Fibrosis,
              Sickle Cell Anemia, Hereditary Hearing Loss </p>
          </th>
          <td></td>
          <td><a class="tim-icons icon-check-2"></a> </td>
          <td><a class="tim-icons icon-check-2"></a> </td>
        </tr>
        <tr>
          <th scope="row">
            <h4> Wellness Reports
            </h4>
            <p> 5+ reports including: Deep Sleep, Lactose Intolerance, Genetic Weight </p>
          </th>
          <td></td>
          <td><a class="tim-icons icon-check-2"></a> </td>
          <td><a class="tim-icons icon-check-2"></a> </td>
        </tr>
        <tr>
          <th scope="row">
            <h4> Priority lab processing
            </h4>
            <p> Once your kit arrives at our lab,
              it’s bumped to the front of the line every step of the way. </p>
          </th>
          <td></td>
          <td></td>
          <td><a class="tim-icons icon-check-2"></a> </td>
        </tr>
        <tr>
          <th scope="row">
            <h4> Premium Customer Support
            </h4>
            <p> Get 1 year of complimentary
              direct access to our premium support line,
              staffed by one of our trained experts. </p>
          </th>
          <td></td>
          <td></td>
          <td><a class="tim-icons icon-check-2"></a> </td>
        </tr>
        <tr>
          <th scope="row">
            <h4> 1-on-1 ancestry results walkthrough†
            </h4>
            <p> Once your results are in,
              you can call our premium support line and one of our trained experts will
              give you a personalized walkthrough of your ancestry results. </p>
          </th>
          <td></td>
          <td></td>
          <td><a class="tim-icons icon-check-2"></a> </td>
        </tr>
      </tbody>
      <thead>
        <tr class="column">
          <th scope="col">
          </th>
          <th scope="col">
            <div>
              <h3> Linage</h3>
            </div>
            <div>
              <button type="button" class="btn btn-success" (click)="navigate('/cart')"> Go to cart </button>
            </div>
          </th>
          <th class="column" scope="col">
            <div>
              <h3> Health</h3>
            </div>
            <div>
              <button type="button" class="btn btn-success" (click)="navigate('/cart')"> Go to cart </button>
            </div>
          </th>
          <th class="column" scope="col">
            <div>
              <h3> Pawprints</h3>
            </div>
            <div>
              <button type="button" class="btn btn-success" (click)="navigate('/cart')"> Go to cart </button>
            </div>
          </th>
        </tr>
      </thead>
    </table>
  </div>

</app-layout>
