<app-layout>
  <div class="content">
    <div class="container">
      <div class="health">
        <h1> Health </h1>
        <p> Get genetic insights into your pet ancestry,
          traits and health that can help make it easier for you to take action on your pet health.</p>
        <ul>
          <li>
            150+ personalized reports
          </li>
          <li>
            Includes Ancestry + Traits Service
          </li>
        </ul>
        <button type="button" class="btn btn-success" (click)="navigate('/cart')"> Go to cart </button>
        <h3> 199 €</h3>

      </div>

      <div class="influence">

        <h1>Discover how your DNA can influence</h1>
        <h1> your pet health. </h1>

        <p>Using insights backed by the latest science,
          see how your pet DNA can affect their chances of
          developing certain health conditions.
          Your personalized reports break down your pet genetic data,
          the science and potential next steps.</p>

        <h1>See what may pass on to your future pups </h1>


        <p>If you're thinking of getting pups,
          find out if your pet is a carrier for genetic variants
          linked to certain inherited health conditions.</p>

        <img src="./assets/img/health.png" />

      </div>


    </div>
  </div>
</app-layout>
